@tailwind base;
@tailwind components;
@tailwind utilities;



.scrollbar-custom {
  overflow-y: auto; /* Ensure vertical scrollbar appears */
  scrollbar-width: thin; /* For Firefox: make scrollbar thinner */
  scrollbar-color: sandybrown mintcream; /* For Firefox: set thumb and track colors */
}

/* Webkit Scrollbar Styles */
.scrollbar-custom::-webkit-scrollbar {
  width: 12px; /* Fixed width for the vertical scrollbar */
  height: 12px; /* Fixed height for the horizontal scrollbar */
}

.scrollbar-custom::-webkit-scrollbar-thumb {
  background-color: sandybrown; /* Scrollbar thumb color */
  border-radius: 10px;
}

.scrollbar-custom::-webkit-scrollbar-track {
  background-color: mintcream; /* Track color */
  border-radius: 10px; /* Optional: rounded corners for the track */
}

.scrollbar-custom::-webkit-scrollbar:hover {
  height: 20px; /* Height of the scrollbar on hover */
}

.scrollbar-custom::-webkit-scrollbar-thumb:hover {
  background-color: brown; /* Scrollbar thumb color on hover */
}

.trashIcon
{
  width: 1.75em;
  height: 1.95em;
  color: indianred;
  transition: transform 0.15s ease;
}

.editIcon, .checkMark
{
  width: 1.75em;
  height: 1.95em;
  color: indianred;
  transition: transform 0.15s ease;
}

.deleteTask:hover .trashIcon
{
  transform: scale(1.1);
  color: firebrick;
}

.deleteTask
{
   position: absolute !important;
   right: 2%;
   top: 2%;
   padding: 6px 6px;
   background-color: lightslategray;
   border-radius: 12px;
   transition: transform 0.15s ease;
   visibility: hidden;
}
.deleteTask:hover
{
  background-color: dimgrey;
}

.TaskBox:hover .deleteTask
{
   display: inline-block;
   transform: scale(1.1);
   visibility: visible;
}

.TaskInfo
{
  display: flex-column;
  justify-content: center;
  align-items: center;
}

.newTaskForm
{
  width: 50%;
}


.updateTask:hover .editIcon, .checkMark
{
  transform: scale(1.1);
  color: firebrick;
}

.updateTask
{
   position: absolute !important;
   left: 2%;
   top: 2%;
   padding: 6px 6px;
   background-color: lightslategray;
   border-radius: 12px;
   transition: transform 0.15s ease;
   visibility: hidden;
}
.updateTask:hover
{
  background-color: slategrey;
}


.TaskBox:hover .updateTask
{
   display: inline-block;
   transform: scale(1.1);
   visibility: visible;
}